{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Point of science</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav id="nav-bar">
        <div class="logo-icon">
            <svg width="55" height="55" viewBox="0 0 82 81" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g filter="url(#filter0_d_25_169)">
                <path d="M41.9228 67.7536C60.3482 67.7536 75.4092 53.2242 75.4092 35.1502C75.4092 17.0762 60.3482 2.54679 41.9228 2.54679C23.4974 2.54679 8.43639 17.0762 8.43639 35.1502C8.43639 53.2242 23.4974 67.7536 41.9228 67.7536Z" fill="#5684E6" stroke="#D2E8FF" stroke-width="5" />
                <path d="M66.866 35.4736C66.866 49.439 55.6548 60.7207 41.8734 60.7207C28.092 60.7207 16.8808 49.439 16.8808 35.4736C16.8808 21.5083 28.092 10.2266 41.8734 10.2266C55.6548 10.2266 66.866 21.5083 66.866 35.4736Z" stroke="#0A1855" stroke-width="5" />
                <path d="M49.6594 21.3154C49.3183 19.4387 47.0772 18.6279 45.6022 19.8476L17.5658 43.0322C16.0749 44.2651 16.4841 46.643 18.3004 47.3L52.8205 59.7885C54.6367 60.4456 56.488 58.8855 56.1432 56.9884L49.6594 21.3154Z" fill="#5684E6" stroke="#0A1855" stroke-width="5" />
                <rect x="49.4544" y="30.1855" width="9.07939" height="23.5797" rx="2.5" transform="rotate(-160 49.4544 30.1855)" stroke="#0A1855" stroke-width="3" />
                <rect x="46.9588" y="32.7215" width="6.12688" height="24" transform="rotate(-160 46.9588 32.7215)" fill="#5684E6" />
                <path d="M47.6457 20.1573L49.9299 37.2563L34.905 31.7876L47.6457 20.1573Z" fill="#5684E6" />
                <path d="M27.8778 35.4961V23.2085L28.7278 24.0976C30.3622 25.8072 32.9617 25.9119 34.7208 24.5485V35.4961H27.8778Z" fill="#5684E6" stroke="#D2E8FF" stroke-width="5" />
              </g>
              <defs>
                <filter id="filter0_d_25_169" x="1.93639" y="0.0467911" width="79.9729" height="78.2068" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                  <feOffset dy="4" />
                  <feGaussianBlur stdDeviation="2" />
                  <feComposite in2="hardAlpha" operator="out" />
                  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_25_169" />
                  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_25_169" result="shape" />
                </filter>
              </defs>
            </svg>
          </div>
        {% if not user.is_authenticated %}
        <button class="login-icon">
            <svg width="35" height="45" viewBox="0 0 46 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.4259 8.00001C14.4259 4.96244 16.8883 2.5 19.9259 2.5H38C41.0375 2.5 43.5 4.96243 43.5 8V24.1632V42.022C43.5 45.0596 41.0375 47.522 38 47.522H19.9259C16.8883 47.522 14.4259 45.0596 14.4259 42.022V8.00001Z" stroke="#D9D9D9" stroke-width="5" />
                <rect x="8.51855" y="9.32614" width="18.7407" height="32.2176" fill="#0A1855" />
                <path d="M28.1111 25.4349L15.9722 37.1828V13.687L28.1111 25.4349Z" fill="#D9D9D9" />
                <rect y="22.0436" width="17.8889" height="5.08699" fill="#D9D9D9" />
              </svg>
            </button>
        {% else %}
            <a class="user-info"> {{ user.username }}</a>
                  <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="button1 login-icon logout-button1" style="padding: 0; border: none; font: inherit;color: inherit;background-color: transparent;">
                        <svg width="35" height="45" viewBox="0 0 46 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.4259 8.00001C14.4259 4.96244 16.8883 2.5 19.9259 2.5H38C41.0375 2.5 43.5 4.96243 43.5 8V24.1632V42.022C43.5 45.0596 41.0375 47.522 38 47.522H19.9259C16.8883 47.522 14.4259 45.0596 14.4259 42.022V8.00001Z" stroke="#D9D9D9" stroke-width="5" />
                        <rect x="8.51855" y="9.32614" width="18.7407" height="32.2176" fill="#0A1855" />
                        <path d="M0 25.4349L12.1389 37.1828V13.687L0 25.4349Z" fill="#D9D9D9" />
                        <rect width="17.8889" height="5.08699" transform="matrix(-1 0 0 1 28.1111 22.0436)" fill="#D9D9D9" />
                        </svg>
            </button>
                  </form>

        {% endif %}
    </nav>
    <div class="auth-modal" id="register-modal">
        <div class="auth-modal-content">
            <button class="auth-close">×</button>
            <h2>Регистрация</h2>
            <form class="auth-form" method="POST" action="{% url 'index' %}">
                {% csrf_token %}
                {{ reg_form.non_field_errors }}
                    {% for field in reg_form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {{ field.errors }}
                    </div>
                    {% endfor %}
                <button type="submit" class="auth-submit" name="register">Зарегистрироваться</button>
            </form>
            <div class="auth-switch">Есть учётная запись? <button class="switch-link">Войди!</button></div>
        </div>
    </div>
<div class="auth-modal" id="login-modal">
  <div class="auth-modal-content">
    <button class="auth-close">×</button>
    <h2>Вход</h2>
    <form class="auth-form" method="POST" action="{% url 'index' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">Логин</label>
            {{ login_form.username }}
        </div>
        <div class="form-group">
            <label for="id_password">Пароль</label>
            {{ login_form.password }}
        </div>

        <button type="submit" name="login" class="auth-submit">Войти</button>
    </form>
    <div class="auth-switch">Нет учётной записи? <button class="switch-link">Зарегистрируйся!</button></div>
  </div>
</div>
    <div class="search-container">
        <div class="search-box">
            <span class="search-icon">
                <svg width="50" height="50" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="17.5" cy="17.5" r="16" stroke="#0A1855" stroke-width="3"/>
                    <rect width="13.6717" height="3.15318" rx="1.57659" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 37.9575 37.7279)" fill="#0A1855"/>
                </svg>
            </span>
            <input type="text" placeholder="Поиск...">
        </div>
        <button class="filter-btn">
            <svg width="25" height="30" viewBox="0 0 39 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.7535 24.4234C19.1512 24.8695 19.8488 24.8695 20.2465 24.4234L34.903 7.98062C35.4776 7.33602 35.02 6.31522 34.1565 6.31522H4.84347C3.97997 6.31522 3.52241 7.33602 4.09698 7.98062L18.7535 24.4234Z" fill="black" />
                <path d="M14.82 21.137C14.82 20.0325 15.7154 19.137 16.82 19.137H22.18C23.2846 19.137 24.18 20.0325 24.18 21.137V37.805C24.18 38.9096 23.2846 39.805 22.18 39.805H16.82C15.7154 39.805 14.82 38.9096 14.82 37.805V21.137Z" fill="black" />
                <path d="M11.0858 32.753L23 43" stroke="#D2E8FF" stroke-width="6" />
              </svg>
        </button>
    </div>

    <div class="">
        <section class="news-section" style="
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
">
            <h2>Последние статьи</h2>
            <div class="grid-container">

                {# info-block-1: текст #}
                {% if news_list|length > 0 %}
                <a href="{% url 'news_detail' news_list.0.pk %}">
                <div class="info-block-1 clickable-card">
                    <h3 class="article-title">{{ news_list.0.title }}</h3>
                    <span class="article-author">Автор: {{ news_list.0.creator }}</span>
                </div>
                </a>
                {% endif %}

                {# info-block-2: текст #}
                {% if news_list|length > 1 %}
                <a href="{% url 'news_detail' news_list.1.pk %}">
                <div class="info-block-2">
                    <h3 class="article-title">{{ news_list.1.title }}</h3>
                    <span class="article-author">Автор: {{ news_list.1.creator }}</span>
                </div>
                </a>
                {% endif %}

                {# info-block-3: изображение #}
                {% if news_list|length > 2 and news_list.2.picture%}
                <a href="{% url 'news_detail' news_list.2.pk %}">
                <div class="info-block-3">
                    <img src="{{ news_list.2.picture.url }}" alt="{{ news_list.2.title }}">
                </div>
                    </a>
                {% endif %}

                {# info-block-4: изображение #}
                {% if news_list|length > 3 and news_list.3.picture %}
                <a href="{% url 'news_detail' news_list.3.pk %}">
                <div class="info-block-4">
                    <img src="{{ news_list.3.picture.url }}" alt="{{ news_list.3.title }}">
                </div>
                {% endif %}

                {# info-block-5: текст #}
                {% if news_list|length > 4 %}
                <a href="{% url 'news_detail' news_list.4.pk %}">
                <div class="info-block-5">
                    <h3 class="article-title">{{ news_list.4.title }}</h3>
                    <span class="article-author">Автор: {{ news_list.4.creator }}</span>
                </div>
                {% endif %}

                {# info-block-6: изображение #}
                {% if news_list|length > 5 and news_list.5.image %}
                    <a href="{% url 'news_detail' news_list.5.pk %}">
                <div class="info-block-6">
                    <img src="{{ news_list.5.picture.url }}" alt="{{ news_list.5.title }}">
                </div>
                {% endif %}

                {# info-block-7: текст #}
                {% if news_list|length > 6 %}
                <a href="{% url 'news_detail' news_list.6.pk %}">
                <div class="info-block-7">
                    <h3 class="article-title">{{ news_list.6.title }}</h3>
                    <span class="article-author">Автор: {{ news_list.6.creator }}</span>
                </div>
                {% endif %}

                {# info-block-8: текст #}
                {% if news_list|length > 7 %}
                    <a href="{% url 'news_detail' news_list.7.pk %}">
                <div class="info-block-8">
                    <h3 class="article-title">{{ news_list.7.title }}</h3>
                    <span class="article-author">Автор: {{ news_list.7.creator }}</span>
                </div>
                {% endif %}

            </div>
        </section>
    </div>

    </div>
    <div class="infinite-scroll-wrapper">
    <div class="infinite-scroll-track">
        {% for article in news_list %}
        <div class="scroll-item">
            <h4 class="card-title">{{ article.title }}</h4>
            <span class="card-author">Автор: {{ article.creator }}</span>
        </div>
        {% endfor %}
    </div>
</div>

    <script src="{% static 'js/script.js' %}"></script>
    <footer class="site-footer">
        <div class="footer-content">Все права защищены</div>
    </footer>
</body>
</html>
