.SofiaSans-ExtraBoldItalic {
  font-family: 'SofiaSans', sans-serif;
  src: url('../fonts/SofiaSans-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.SofiaSans-ExtraLightItalic {
  font-family: 'SofiaSans', sans-serif;
  src: url('../fonts/SofiaSans-ExtraLightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.SofiaSans-Italic {
  font-family: 'SofiaSans', sans-serif;
  src: url('../fonts/SofiaSans-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.header {
  background-color: #0A1855;
  height: 50px;
  border-radius: 40px;
  display: flex;   
  justify-content: space-between;
  padding: 0 40px;
  position: relative;
  margin-top: 20px;
}

.container svg {
  height: 50px;
  position: absolute;
  top: 5px; /* Отступ от нижнего края header */
}

.logo svg {
  height: 50px;
  left: 30px; /* Позиция лого слева */
}

.exit svg{
  height: 50px;
  top: 1px; 
  padding: 0 40px;
}

.container:last-child svg {
  right: -10px; /* Позиция иконки справа */
}

.futor {
  background-color: #D9D9D9;
  border-radius: 40px;
  margin-top: 20px;
  padding: 40px;
}

.container {
  width: 65%;
  display: inline-block; 
  vertical-align: top;
  text-align: left; 
  margin-left: 40px;
}

.img {
  width: 30%;
  height: 300px;
  width: 300px;
  border-radius: 40px;
  position: relative;
  display: inline-block; 
  vertical-align: middle;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  height: 100%; /* растягиваем по высоте контейнера */
  padding: 0 10px; /* небольшой отступ по бокам */
  box-sizing: border-box;
  margin: 10px;
}

.articl {
  display: inline-block;
  position: relative;
  font-size: 48px;
}

.auther {
  margin-top: 20px;
  display: inline-block;
  position: relative;
  font-size: 25px;
}

.date{
  display: inline-block;
  position: relative;
  font-size: 25px;
  
}
.mono {
  margin-top: 20px;
  padding: 10px;
}

.site-footer {
  background-color: #0A1855; 
  width: 100%;
  margin-top: auto; 
  border-top: 2px solid #D2E8FF;
}

.footer-content {
  color: #D2E8FF;
  text-align: center;
  padding: 12px 0;
  font-size: 0.9em;
}
